* text=auto

*.xltm binary
*.xls binary
*.exe binary
*.nk2 binary
*.fdm binary
*.ico binary
*.jpg binary
*.png binary
*.msi binary

*.example eol=lf
*.env eol=lf
*.txt eol=lf
*.sh eol=lf
*.tab eol=lf
*.py eol=lf
*.json eol=lf
*.js eol=lf
*.jsx eol=lf
*.md eol=lf
*.sql eol=lf
*.conf eol=lf
*.yml eol=lf
*.xml eol= crlf
*.ps1 eol=crlf
*.psm1 eol=crlf
*.ahk eol=crlf
*.frm eol=crlf